.settings-menu__item i {
    width: 20px;
    height: 20px;
}
.settings-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}
.settings-menu__item span {
    margin-left: 20px;
}
.settings-menu__item:last-child {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.settings-menu__item:first-child {
    padding-top: 30px;
}
.settings-menu__item div {
    display: flex;
    align-items: center;
}
.settings-menu__subtitle {
    font-size: 15px;
    color: var(--gray);
}
